@import "./common/header.css";
@import "./common/footer.css";

*{
  box-sizing: border-box;
}

body{
  margin: 0;
}


div.banner{
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  min-width: 768px;
  height: 542px;
  background-size: cover;
  /* border: 1px solid #E3A063; */
  background-position: center center;
  margin: 0px auto 10px auto;
  position: relative;
}

div.banner > div.banner_contorl > a.banner_contorl1{
  position: absolute;
  top:253.5px;
  left: 10px;


}
div.banner > div.banner_contorl > a.banner_contorl2{
  position: absolute;
  top:253.5px;
  right: 10px;
}


div.nivo-controlNAV{
  /* border: 1px solid red; */
  /* margin: 0 auto; */
  height: 20px;
}

div.nivo-controlNAV > img{
  margin: 0 auto;
  padding-top: 3px;
  padding-bottom: 2px;
  display: flex;

}

main.main{
  /* border: 1px solid black; */
  width: 1200px;
  height: 3800px;
  margin: 0 auto;
}

main > div.main1{
  /* border: 1px solid blue; */
  width: 1200px;
  height: 625px;
  margin-top: 10px;
  position: relative;
  background-color: #E3A063;
  border-radius: 100px 100px 0px 0px ;
}

main > div.main1 > div.one1{
  /* border: 1px solid red; */
  width: 710px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 25px;
  font-weight: bold;
  
}

div.main1 > div.one1:hover{
  color:white;
  text-shadow: 2px 2px 5px black;

}



main > div.main1 > div.one2{
  /* border: 1px solid green; */
  width: 1090px;
  height: 423px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;

}

main > div.main1 > div.one2 > a{
  /* border: 1px solid red; */
  width: 316px;
  height: 425px;
  overflow: hidden;
  display: inline-flex;
  /* position: absolute;
  bottom: 0px; */
  /* margin-top: 80px; */
}
a.main_img1 , a.main_img2{
  margin-right: 20px;
}

a.main_img1:hover{
  /* margin-top: 20px; */
  transform: translateY(-5%);
}

a.main_img2:hover{
  /* margin-top: 20px; */
  transform: translateY(-5%);
}

a.main_img3:hover{
  /* margin-top: 20px; */
  transform: translateY(-5%);
}
div.banner2{
  /* width: 100%; */
  min-width: 1200px;
  height: 600px;
  /* border: 1px solid red; */
  background-image: url("../images/background-rock.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0px;
  background-size: 1200px 500px;
  padding-left: 50px;
  padding-top: 100px;
  font-size: 48px;
}

div.main2{
  /* border: 1px solid blue; */
  display: flex;
  margin-top: 50px;
}

div.main2 > div.two1{
  /* border: 1px solid purple; */
  display: flex;
  margin-right: 15px;
}

div.main2 > div.two1 > a > span{
  /* border: 1px solid purple; */
  display: flex;
  padding-left: 225px;
}

div.main2 > div.two2{
  /* border: 1px solid purple; */
  margin-right: 15px;
  width: 285px;
}

div.main2 > div.two2 > a.coat6 > span{
  /* border: 1px solid purple; */
  display: flex;
  padding-left: 225px;
  margin-bottom: 14px;
}

div.main2 > div.two2 > a.bottom7 > span{
  /* border: 1px solid purple; */
  display: flex;
  padding-left: 200px;
  /* margin-bottom: 10px; */
}

div.main2 > div.two3{
  /* border: 1px solid purple; */
  margin-right: 20px;
  /* overflow: hidden; */
  width: 592px;
  /* margin-right: 0px; */
}

div.two3:hover{
  /* margin-top: 20px; */
  transform: translateY(-3%);
}

div.main3{
  /* border: 1px solid green; */
  display: flex;
  margin-top: 50px;
  width: 1200px;

}

div.main3 > a{
  /* border: 1px solid red; */
  height: 596px;
  overflow: hidden;
}

div.main3 > a.three_img1{
margin-right: 8px;
}

div.main3 > a:hover{
  opacity: 0.7; 
  /* height: 596px; */
}



div.run{
  height:42px;
  width: 1200px;
  border: 2px solid #E3A063;
  overflow: hidden;
}

div.main4{
  width: 1200px;
}

div.main5{
  border: 3px solid #E3A063;
  border-radius: 40px;
  margin-top: 30px;
}

div.main5 > div.main5_title{
  /* border: 1px solid black; */
  margin-left: 40px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

div.main5 > div.bx{
  /* border: 1px solid blueviolet; */
  width: 1200px;
  position: relative;

}

div.main_viewport{
  /* border: 1px solid blue; */
  display: flex;

}

div.main_viewport > ul.viewport_list{
  display: flex;
  /* border: 1px solid red; */
  margin: 0px auto 20px auto;
  padding: 0;
}

ul.viewport_list > li{
  list-style: none;
  /* border: 1px solid gold; */
  margin: 20px 20px;
}

ul.viewport_list > li > a:hover{
  opacity: 0.7;
}

div.main5_contorl > a.main5_contorl1 {
  /* border: 1px solid red; */
  position: absolute;
  top: 138.5px;
  left: 25px;
}

div.main5_contorl > a.main5_contorl2 {
  /* border: 1px solid red; */
  position: absolute;
  top:138.5px;
  right: 25px;
}