@import "./common/header.css";
@import "./common/footer.css";

div.newproduct_all > aside.aside{
  display: none;
}

a.new_items{
  color: #E3A063;
  font-weight: 900 ;
}

div.newproduct_all{
  width: 1200px;
  margin: 27px auto 0px auto;
}

div.newproduct_all aside.aside,div.newproduct_all main.main_newproduct{
  vertical-align: top;
}

div.main_newproduct_all_list{
  display: flex;
  text-align: center;
  flex-wrap:wrap;
  justify-content:space-between;

}

div.main_newproduct_all_list div{
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}
/*  ================================ 框線們  =============================================*/
/* @media screen and (min-width: 320px){

  div.newproduct_all{
    border: 1px solid black;
  }

  main.main_newproduct{
    border: 1px solid blue;
  }

  div.main_newproduct_hum{
    border: 1px solid black;
  }
  
  div.main_newproduct_all_list{
    border: 1px solid black;
  }
  
  div.main_newproduct_all_list div{
    border: 1px solid blue;
  }
  
  div.main_newproduct_all_list div a{
    border: 1px solid red;
  }
  div.main_newproduct_all_list div span{
    border: 1px solid orange;
  }
  div.main_newproduct_all_list div a span{
    border: 1px solid yellow;
  }

  div.main_newproduct6{
    border: 1px solid purple;
  }
}  */
/*  ================================ 框線們結束  =============================================*/

@media screen and (min-width: 992px){
  aside.aside{
    display: inline-block !important;   
  }

  aside.aside{
    /* border: 1px solid red; */
    width: 120px;
    margin-right: 50px;
    display: inline-block;
    position: sticky;
    top:20%;
    /* position: fixed; */
  }

  aside > div.aside_nav > ul {
    /* border: 1px solid red; */
    /* width: 1200px; */
    padding-left: 0px;
    margin-top: 0px;
    /* padding-top: 50px; */
  }

  aside > div.aside_nav > ul > li{
    list-style: none;
  }

  aside > div.aside_nav > ul > li:hover{
    opacity: 0.5;
  }

  ul.aside_nav_new > li.newproduct_name {
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
  }

  ul.aside_nav_new > li.newproduct_1020 >a{
    font-size: 14px;
    margin-left: 10px;
    color:#E3A063;
    font-weight: 700;
  }

  ul.aside_nav_new > li.newproduct_1013 {
    font-size: 14px;
    margin-left: 10px;
  }

  ul.aside_nav_new > li.newproduct_1006 {
    font-size: 14px;
    margin-left: 10px;
  }
  ul.aside_nav_list > li{
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0px 5px 0px;

  }

  ul.aside_nav_list > li > a{
    font-weight: bold;
    font-size: 16px;
  }


  /*======================================  main 開始 =========================================*/
  main.main_newproduct{
    display: inline-block;
    width: calc(100% - 120px - 50px - 4px);
    /* height: 2600px; */
  }

  main > div.main_newproduct1 > a.main_newproduct1_banner{
    width: calc(100% - 120px - 50px - 4px);
  }

  main > div.main_newproduct1 > a.main_newproduct1_banner > img{
    width: 100%;
  }

  div.main_newproduct_hum{
    margin-top: 30px;
    margin-bottom: -30px;
    z-index: 1;
  }

  div.main_newproduct_hum > a {
    padding-right: 10px;
  }

  div.main_newproduct_hum > span {
    padding-left: 10px;
  }
  div.main_newproduct_hum a.main_newproduct_hum_newproduct_hum , div.main_newproduct_hum a.main_newproduct_hum_newproduct_hum_1020newproduct {
    padding-left: 10px;
  }

  /* ===================  div.main_newproduct_all_list  開始================================*/
  /* 第一行 */

  div.main_newproduct_all_list{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;

  }

  div.main_newproduct_all_list div{
    width: 30%;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: 40px;
  }
  
  div.main_newproduct6{
    text-align: center;
    /* margin-top: 50px; */
    margin: 50px auto;
  }

  div.main_newproduct6 > a{
    padding: 10px;
    margin: 5px;
    font-size: 18px;
  }

  div.main_newproduct6 > a:hover{
    color: #E3A063;
  }

  div > a.newproduct_page1{
    color: #E3A063;
    font-weight: bold;
  }

  div > main > div.main_newproduct_hum > a:hover{
    opacity: 0.7;
  }
  
  div.main_newproduct_all_list > div > a > img:hover{
    opacity: 0.7;
  }
  
  div.main_newproduct_all_list > div > a > span:hover{
    opacity: 0.7;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
  main.main_newproduct{
    display: inline-block;
    /* width: calc(100% - 120px - 50px - 4px); */
    /* height: 2600px; */
  }

  main > div.main_newproduct1 > a.main_newproduct1_banner{
    width: calc(100% - 120px - 50px - 4px);
  }

  main > div.main_newproduct1 > a.main_newproduct1_banner > img{
    width: 100%;
  }

  div.main_newproduct_hum{
    margin-top: 30px;
    margin-left: 17px;
    margin-bottom: -30px;
    z-index: 1;
    font-size: 14px;
  }

  div.main_newproduct_hum > a {
    padding-right: 10px;
  }

  div.main_newproduct_hum > span {
    padding-left: 10px;
  }
  div.main_newproduct_hum a.main_newproduct_hum_newproduct_hum , div.main_newproduct_hum a.main_newproduct_hum_newproduct_hum_1020newproduct {
    padding-left: 10px;
  }

  /* ===================  div.main_newproduct_all_list  開始================================*/
  /* 第一行 */

  div.main_newproduct_all_list{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    font-size: 14px;
  }

  div.main_newproduct_all_list div{
    width: 30%;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: 40px;
  }
  
  div.main_newproduct6{
    text-align: center;
    /* margin-top: 50px; */
    margin: 50px auto;
  }

  div.main_newproduct6 > a{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
  }

  div.main_newproduct6 > a:hover{
    color: #E3A063;
  }

  div > a.newproduct_page1{
    color: #E3A063;
    font-weight: bold;
  }

  div > main > div.main_newproduct_hum > a:hover{
    opacity: 0.7;
  }
  
  div.main_newproduct_all_list > div > a > img:hover{
    opacity: 0.7;
  }
  
  div.main_newproduct_all_list > div > a > span:hover{
    opacity: 0.7;
  }
  
}

@media screen and (min-width: 576px) and (max-width: 767.98px){
  main.main_newproduct{
    display: inline-block;
    /* width: calc(100% - 120px - 50px - 4px); */
    /* height: 2600px; */
  }

  main > div.main_newproduct1 > a.main_newproduct1_banner{
    /* width: calc(100% - 120px - 50px - 4px); */
  }

  main > div.main_newproduct1 > a.main_newproduct1_banner > img{
    width: 100%;
  }

  div.main_newproduct_hum{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 14px;
  }

  div.main_newproduct_hum > a {
    padding-right: 10px;
  }

  div.main_newproduct_hum > span {
    padding-left: 10px;
  }
  div.main_newproduct_hum a.main_newproduct_hum_newproduct_hum , div.main_newproduct_hum a.main_newproduct_hum_newproduct_hum_1020newproduct {
    padding-left: 10px;
  }

  /* ===================  div.main_newproduct_all_list  開始================================*/
  /* 第一行 */

  div.main_newproduct_all_list{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    font-size: 14px;
  }

  div.main_newproduct_all_list div{
    width: 42%;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: 30px;
  }
  
  div.main_newproduct6{
    text-align: center;
    /* margin-top: 50px; */
    margin: 50px auto;
  }

  div.main_newproduct6 > a{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
  }

  div.main_newproduct6 > a:hover{
    color: #E3A063;
  }

  div > a.newproduct_page1{
    color: #E3A063;
    font-weight: bold;
  }

}


@media screen and (max-width: 575.98px){

  main.main_newproduct{
    display: inline-block;
    /* width: calc(100% - 120px - 50px - 4px); */
    /* height: 2600px; */
  }

  main > div.main_newproduct1 > a.main_newproduct1_banner{
    /* width: calc(100% - 120px - 50px - 4px); */
  }

  main > div.main_newproduct1 > a.main_newproduct1_banner > img{
    width: 100%;
  }

  div.main_newproduct_hum{
    margin-top: 30px;
    margin-left: 23px;
    font-size: 14px;
  }

  div.main_newproduct_hum > a {
    padding-right: 10px;
  }

  div.main_newproduct_hum > span {
    padding-left: 10px;
  }
  div.main_newproduct_hum a.main_newproduct_hum_newproduct_hum , div.main_newproduct_hum a.main_newproduct_hum_newproduct_hum_1020newproduct {
    padding-left: 10px;
  }

  /* ===================  div.main_newproduct_all_list  開始================================*/
  /* 第一行 */

  div.main_newproduct_all_list{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
    font-size: 14px;
  }

  div.main_newproduct_all_list div{
    width: 42%;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: 30px;
  }
  
  div.main_newproduct6{
    text-align: center;
    /* margin-top: 50px; */
    margin: 50px auto;
  }

  div.main_newproduct6 > a{
    padding: 10px;
    margin: 5px;
    font-size: 16px;
  }

  div.main_newproduct6 > a:hover{
    color: #E3A063;
  }

  div > a.newproduct_page1{
    color: #E3A063;
    font-weight: bold;
  }

}

