@import "./common/header.css";
@import "./common/footer.css";

.main{
    margin: 0 auto;
    letter-spacing: 1.5px;
  }
.main_1{
    display: flex;
    justify-content:center;

}
.aside_all{
    position: sticky;
    top: 120px;
}
.aside_img{
    width: 80px;
    margin-bottom: 10px;
}
.med_img{
    margin: 80px 40px 80px 60px;
}

.med_img_pic{
    margin-bottom: 40px;
}

.right_all{
    border: 1px solid black;
    margin: 30px 20px 30px 80px;
    width: 400px;
    position: sticky;
    top: 120px;
    font-size: 20px;
}
.product_name{
    margin: 30px 20px 20px 20px;
    font-weight: bold;
}

.product_wistlist{
    margin: 20px 20px 20px 20px;
}
.product_wistlist:hover{
    color:  red;
    transition: .5s;
}
.product_price{
    display: flex;
    margin: 10px 20px 20px 20px;
}

.product_price > div:first-child{
    margin-right: 20px;
    font-size: 20px;
}

.product_color{
    margin: 10px 20px 20px 20px;
}

.product_color_box{
    display: flex;
    margin: 10px 20px 20px 20px;
}

.product_color_box > div{
    display: flex;
    border: 2px solid black;
    padding: 5px;
    margin-right: 10px;
}
.product_color_box > div:hover{
    border: 2px solid rgb(221, 163, 75);
    transition: .5s;
}
.product_size{
    display: flex;
    margin-left: 20px;
}

.product_size > div{
    border: 2px solid black;
    margin-right: 10px;
    width: 14%;
    font-size: 24px;
    height: 54px;
    line-height: 53px;
    /* padding-top: 10px; */
    text-align: center;

}
.product_size > div:hover{
    border: 2px solid rgb(221, 163, 75);
    transition: .5s;
}

.product_button_all{
    display: flex;
    height: 90px;
}
.product_quantity{
    border: 2px solid black;
    width: 45%;
    margin: 20px;
    padding: 5px;
    line-height: 40px;
}
#count{
    width: 50%;
}
.product_quantity > input{
    border: 0px;
    background-color: white;
    font-size: 20px;
    text-align: center;
}

.product_button{
    width: 20%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

.add_cart{
    border: 0px solid black;
    background-color: blanchedalmond;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    height: 50px;
    margin-top: 20px;
}
.add_cart:hover{
    transition: 1s;
    background-color: rgb(221, 163, 75);
}