*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
  list-style: none;
  max-width: 100%;
}

body{
  font-family: "TTNorms-Medium";
}

img{
  max-width: 100%;
}

@font-face{
  font-family: "TTNorms-Medium"; /* 自訂名稱 */
  src: url("../../font/TTNorms-Medium.otf"); /* 字體檔路徑 */
}

a{
  color: black;
  text-decoration:none;
}

header.header{
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  position: relative;
  position: sticky;
  top:0;
  background-color: white;
  z-index: 100;
}

nav.nav_list{
  /* border: 1px solid red; */
  justify-content: space-between ;
}

ul.nav_list_ul{
  list-style: none;
}
ul.nav_list_ul > li{
 /* border: 1px solid blue; */
  display: inline-block;
}

button.btn_switch{
  display: none;
}

div.cart > div.search > input.search_bar{
  display: none;
}


/* 大於等於768.98px，將顯示設為最重要 */
@media screen and (min-width: 767.98px){
  nav.nav_list{
    display: flex !important;   
  }
}

/* =============       原始的headercss開始      =============*/
@media screen and (min-width: 992px){

  header > div.logo{
    margin: 10px 30px 0px 10px;
  }

  header > nav.nav_list{
    width: 100%;
    /* display: block; */
    /* border: 1px solid red; */
  }

  header > nav.nav_list > ul.nav_list_ul{
    display: flex;
    /* border: 1px solid red; */
    margin: 0px;
    width: 100%;
    justify-content: space-around;

  }

  header > nav.nav_list > ul.nav_list_ul > li{
    /* border: 1px solid black; */
    padding: 10px 10px 0px 10px;
    /* margin-right: 20px; */
    list-style: none;
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
    font-weight: bold;
  }

  header > nav.nav_list > ul.nav_list_ul > li > a.list{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  
  }
  header > nav.nav_list > ul > li > div{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }


  /* 衣著配件下拉選單*/
  div.item1:hover ul.item_list{
    display: block;
  }
  
  ul.item_list{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    
  }
  
  ul.item_list > li{
    list-style: none;
    width: 100%;
    height: 50px;
    /* padding-top: 10px; */
    position:relative;
  }
  
  ul.item_list > li > a{
    color: gray;
    display: block;
    /* width: 100%; */
    text-align: center;
    /* padding: 5px 0; */
    height: 30px;
    line-height: 54px;
  }
  
  ul.item_list > li.item_top > a:hover {
    background-color: #E3A063;
    color: white ;
    width: 100%;
    height: 50px;
    
  }
  
  ul.item_list > li.item_bottom > a:hover {
    background-color: #E3A063;
    color: white;
    width: 100%;
    height: 50px;
  }
  
  div.acc:hover ul.acc_list{
    display: block;
  }
  
  ul.acc_list{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    position: absolute;
    top:100%;
  }
  
  ul.acc_list > li{
    list-style: none;
    width: 100%;
    height: 50px;
    /* padding-top: 10px; */
    position:relative;
  
  }
  
  ul.acc_list > li > a{
    color: gray;
    display: inline-block;
    width: 100%;
    text-align: center;
    /* padding: 5px 0; */
    height: 50px;
    line-height: 54px;
  
  }
  
  ul.acc_list > li.acc_bag > a:hover {
    background-color: #E3A063;
    width: 100%;
    color: white ;
    /* text-shadow: 2px 2px 2px black; */
  }
  
  ul.acc_list > li.acc_ear > a:hover {
    background-color: #E3A063;
    width: 100%;
    color: white ;
  }
  
  header > nav > ul > li > a:hover{
    color:#E3A063;
    font-size: 18px;
  }

  div.item1:hover{
    color:#E3A063;
    font-size: 18px;
  }
  
  div.acc:hover{
    color:#E3A063;
    font-size: 18px;
  }

  /* 最右方的icon們 由test重寫部分*/
  /* ========== search 項目 ==============*/
  nav.nav_list > div.cart{
    /* border: 1px solid green; */
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: flex-end;
  }

  nav.nav_list > div.cart > div.search{
    /* border: 1px solid pink; */
    position: relative;
  }
  
  nav.nav_list > div.cart > a > img{
    margin-right: 10px;
    /* height: 25px; */
    
  }
  nav.nav_list > div.cart > div.search > label > img{
    /* height: 25px; */

  }
  div.cart > div.search > input.search_bar{
    border-style: none;
    border-bottom: 1px solid orange;
    height: 53.33px;
    border-radius: 0px;
    position: absolute;
    top: 37px;
    min-width:220px;
    right: -25px;
    /* display: none; */
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
  
  header > div.logo {
    margin: 10px 10px 0px 10px;

  }
  
  header > div.logo > a > img{
    width: 120px;
    /* margin: 10px 10px 0px 10px; */

  }

  header > nav.nav_list{
    width: 100%;
    font-size: 14px;
    /* display: block; */
    /* border: 1px solid red; */
  }

  header > nav.nav_list > ul.nav_list_ul{
    display: flex;
    /* border: 1px solid red; */
    margin: 0px;
    width: 100%;
    justify-content:space-around;

  }

  header > nav.nav_list > ul.nav_list_ul > li{
    /* border: 1px solid black; */
    padding: 10px 10px 0px 10px;
    /* margin-right: 20px; */
    list-style: none;
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
    font-weight: bold;
  }

  header > nav.nav_list > ul.nav_list_ul > li > a.list{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
  
  }
  header > nav.nav_list > ul > li > div{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
  }


  /* 衣著配件下拉選單*/

  li.item1 > div.item1 > span {
    display: inline-block;
  }

  header > nav > ul > li > a:hover{
    color:#E3A063;
    font-size: 16px;
  }

  div.item1:hover ul.item_list{
    display: block;
  }
  
  ul.item_list{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
  }
  
  ul.item_list > li{
    list-style: none;
    width: 100%;
    height: 30px;
    /* padding-top: 10px; */
    position:relative;
  }
  
  ul.item_list > li > a{
    color: gray;
    display: block;
    width: 100%;
    text-align: center;
    /* padding: 5px 0; */
    height: 30px;
    line-height: 30px;
  }
  
  ul.item_list > li.item_top > a:hover {
    background-color: #E3A063;
    color: white ;
    width: 100%;
  }
  
  ul.item_list > li.item_bottom > a:hover {
    background-color: #E3A063;
    color: white;
    width: 100%;

  }

  div.item1:hover{
    color:#E3A063;
    font-size: 16px;
  }
  /*============  ACC  =====================*/

  div.acc:hover ul.acc_list{
    display: block;
  }
  
  ul.acc_list{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    position: absolute;
    top:100%;
  }
  
  ul.acc_list > li{
    list-style: none;
    width: 100%;
    height: 30px;
    /* padding-top: 10px; */
    position:relative;
  
  }
  
  ul.acc_list > li > a{
    color: gray;
    display: inline-block;
    width: 100%;
    text-align: center;
    /* padding: 5px 0; */
    height: 30px;
    line-height: 30px;
  
  }
  
  ul.acc_list > li.acc_bag > a:hover {
    background-color: #E3A063;
    width: 100%;
    color: white ;
    /* text-shadow: 2px 2px 2px black; */
  }
  
  ul.acc_list > li.acc_ear > a:hover {
    background-color: #E3A063;
    width: 100%;
    color: white ;
  }

  
  div.acc:hover{
    color:#E3A063;
    font-size: 16px;
  }

  /* 最右方的icon們 由test重寫部分*/
  /* ========== search 項目 ==============*/
  nav.nav_list > div.cart{
    /* border: 1px solid green; */
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: flex-end;
  }

  nav.nav_list > div.cart > div.search{
    /* border: 1px solid pink; */
    position: relative;
  }
  
  nav.nav_list > div.cart > a > img{
    margin-right: 10px;
    height: 25px;
    
  }
  nav.nav_list > div.cart > div.search > label > img{
    height: 25px;

  }
  div.cart > div.search > input.search_bar{
    border-style: none;
    border-bottom: 1px solid orange;
    height: 53.33px;
    border-radius: 0px;
    position: absolute;
    top: 40px;
    min-width:220px;
    right:-7px;
    /* display: none; */
  }
  
}

@media screen and (min-width: 320px) and (max-width: 767.98px){

  button.btn_switch{
    display: inline-block;
    /* border: 1px solid blue; */
    position: absolute;
    right: 0;
    top: 0;
  }


  div.logo > a > img{
    height: 44px;
    margin: 5px 0px 0px 5px;
    /* max-width: 100%; */
    /* height: 50px; */
  }

  nav.nav_list{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    /* overflow: scroll; */
  }

  nav.nav_list > ul.nav_list_ul > li {
    display: block;
    padding: 15px;
  }

  nav.nav_list > ul.nav_list_ul > li > a{
    width: 100%;
    font-weight: bold;
  }

  /* ==========  衣著、配件 下拉選單 ===========  */
  /* ======  衣著 下拉選單 ======  */
  nav.nav_list > ul.nav_list_ul > li.item1{
    padding: 0px;
  }

  nav.nav_list > ul.nav_list_ul > li.item1 > div.item1{
    width: 100%;
  }
  

  nav.nav_list > ul.nav_list_ul > li.item1 > div.item1 > span{
    /* border: 1px solid green; */
    display: inline-block;
    width: 100%;
    height: 54px;
    padding: 15px;
  }
  nav.nav_list > ul.nav_list_ul > li.item1 > div.item1 > span.tina_test_1{
    background-color: #E3A063;
    color: white;
  }

  nav.nav_list > ul.nav_list_ul > li.item1 > div.item1 > ul{
    /* border: 1px solid purple; */
    width: 100%;
    background-color: white;
    display: none;

  }
  
  nav.nav_list > ul.nav_list_ul > li.item1 > div.item1 > ul > li{
    height: 53.33px;
    padding: 15px;
    display: block;
  }

  nav.nav_list > ul.nav_list_ul > li.item1 > div.item1 > ul > li > a{
    display: block;
  }


  /* ======  配件 下拉選單 ======  */
  nav.nav_list > ul.nav_list_ul > li.acc{
    padding: 0px;
  }

  nav.nav_list > ul.nav_list_ul > li.acc > div.acc{
    width: 100%;
  }
  
  nav.nav_list > ul.nav_list_ul > li.acc > div.acc > span{
    /* border: 1px solid green; */
    display: inline-block;
    width: 100%;
    height: 54px;
    padding: 15px;
  }
  nav.nav_list > ul.nav_list_ul > li.acc > div.acc > span.tina_test_2{
    background-color: #E3A063;
    color: white;
  }

  nav.nav_list > ul.nav_list_ul > li.acc > div.acc > ul{
    /* border: 1px solid purple; */
    width: 100%;
    background-color: white;
    display: none;

  }
  
  nav.nav_list > ul.nav_list_ul > li.acc > div.acc > ul > li{
    height: 53.33px;
    padding: 15px;
  }

  nav.nav_list > ul.nav_list_ul > li.acc > div.acc > ul > li > a{
    display: block;
  }
  /* ========== search 項目 ==============*/
  nav.nav_list > div.cart{
    height: 120px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  nav.nav_list > div.cart > div.search{
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    position: relative;
    height: 53.33px;
  }

  nav.nav_list > div.cart > a{
    margin-right: 30px;
  }

  div.cart > div.search > input.search_bar{
    border-style: none;
    border-bottom: 1px solid orange;
    height: 53.33px;
    border-radius: 0px;
    position: absolute;
    top: 40px;
    min-width:220px;
    right:-7px;
    /* display: none; */
  }
/* ========== search 項目結束 ==============*/

}




/* 漢堡*/
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
  }

  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #E3A063; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #E3A063;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

    /*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
